LOG_LEVEL=DEBUG
ENABLE_STATS=FALSE

TELEGRAM_BOT_KEY=
TELEGRAM_CHAT_ID=
TELEGRAM_API_BASE_URL=https://api.telegram.org

POLY_BACKTEST_KEY=
POLY_BACKTEST_BASE_URL=https://api.polybacktest.com/v2

BINANCE_WS_BASE_URL=wss://stream.binance.com:443/ws
BINANCE_API_BASE_URL=https://api.binance.com/api/v3

POLYMARKET_WS_BASE_URL=wss://ws-subscriptions-clob.polymarket.com/ws
POLYMARKET_CLOB_BASE_URL=https://clob.polymarket.com
POLYMARKET_GAMMA_BASE_URL=https://gamma-api.polymarket.com

POLYMARKET_PRIVATE_KEY=
POLYMARKET_PROXY_WALLET=
